<%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %>
<p><%= link_to @user.name, user_path(@user.id) %></p>


<!-- 編集ボタンと削除ボタンをつける-->
<h2>Title:</h2>
<p><%= link_to @book.title, book_path(@book.id) %></p>
<p><%= @book.title %></p>
<h2>Body:</h2>
<p><%= @book.body %></p>
  <% if @user.id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book.id) %></p>
    <%= link_to "Destroy", book_path(@book.id) , method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>

<%= render '/users/list', user: @user, book: @book %>
<!--render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値], [ローカル変数]:[渡す値]-->
<!--部分テンプレートを呼び出せるように設定-->

